<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.application.vietlotterytwelve">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo12"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo12"
        android:supportsRtl="true"
        android:theme="@style/Theme.VietLotteryTwelve">
        <activity
            android:name=".TermsConditionPage"
            android:exported="false" />
        <activity
            android:name=".PrivacyPage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".SplashAct"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>